---
import CustomBackgroundLayout from "@components/base/CustomBackgroundLayout.astro";
import PageHeader from "@components/common/PageHeader.astro";
import { render } from "astro:content";
import type { CommunityEntry } from "@/types";
import frontPage from "@assets/why_women_only.jpeg";

interface Props {
  entry: CommunityEntry;
}

const { entry } = Astro.props;
const { title, description, image, imageAlt } = entry.data;
const { Content } = await render(entry);
---

<CustomBackgroundLayout 
  title={title} 
  description={description} 
  image={image?.src}
  backgroundImage={frontPage}
>
  <PageHeader title={title} />
  
  <section class="container">
    <div class="row">
      <div class="col-12 lg:col-8 mx-auto">
        <div 
          class="content glass-transparent rounded-lg p-6 intersect:animate-fadeUp relative"
        >
            <Content />
        </div>
      </div>
    </div>
  </section>
</CustomBackgroundLayout> 