---
import BaseLayout from "@components/base/BaseLayout.astro";
import { markdownify } from "@lib/textConverter";
import { Image } from "astro:assets";
import type { AboutEntry } from "@/types";
import { render } from "astro:content";

interface Props {
  entry: AboutEntry;
}

const { entry } = Astro.props;
const { title, description, image, imageAlt } = entry.data;
const { Content } = await render(entry);
---

<BaseLayout title={title} description={description} image={image?.src}>
  <section class="section-sm">
    <div class="container">
      <div class="row justify-center">
        <div class="lg:col-8">
          <!-- Mission Content -->
          <div class="content glass rounded-lg p-8 intersect:animate-fadeUp opacity-0 intersect-no-queue">
            {
                image && (
                  <Image
                    class="mx-auto mb-6 rounded-lg w-24"
                    src={image}
                    alt={imageAlt}
                    width={384}
                    height={384}
                    loading="eager"
                  />
                )
              }
            <div class="text-glass-txt-s dark:text-darkmode-glass-txt-s">
              <Content />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</BaseLayout> 